# c++ object files
*.o
*.obj

# python object files
*.pyc

# swp and swo
.*.swp
.*.swo
.*.swn

# data types
*.out

# image types
*.png

# bin and lib folder, data folder
results
c++_implementation/bin
c++_implementation/lib
c++_implementation/mnist_data/original
c++_implementation/mnist_data/test_bayes
c++_implementation/mnist_data/test_readin
c++_implementation/mnist_data/test_densitytree
c++_implementation/mnist_data/test_copula
data
