# c++ object files
*.o
*.so
*.obj

# python object files
*.pyc

# swp and swo
.*.swp
.*.swo
.*.swn

# data types
*.out

# image types
*.png

# latex aux files and documents
*.log
*.aux
*.pdf

# bin and lib folder, data folder
results
c++_implementation/bin
c++_implementation/lib
c++_implementation/*_data/original
c++_implementation/*_data/test_bayes
c++_implementation/*_data/test_readin
c++_implementation/*_data/test_densitytree
c++_implementation/*_data/test_copula
c++_implementation/*_data/test_copulaforest
c++_implementation/*_data/test_densityforest

data/mnist

# latex folder, except for .tex and .pdf
latex/*
!latex/*.tex
!latex/*.pdf
!latex/graphics

