# c++ object files
*.o
*.obj
*.p

# python object files
*.pyc

# swp and swo
.*.swp
.*.swo
.*.swn

# data types
*.out

# image types
*.png

# bin and lib folder, data folder
results
c++_implementation/bin
c++_implementation/lib
c++_implementation/*_data/original
c++_implementation/*_data/test_*

data/mnist

# latex folder, except for .tex and .pdf
latex/*
!latex/*.tex
!latex/*.pdf
!latex/graphics

